/*
For making use of themes
We want to use these colour palettes:
#06113C - Black
#FF8C32 - Orange
#DDDDDD - Grey
#EEEEEE - White
*/

* {
    font-family: 'Noto Sans', sans-serif;
    background-color: #06113C;
    color: #EEEEEE;
}

.sub-title {
    background-color: #FF8C32;
    color: #DDDDDD;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 1% 2%;
    border: #DDDDDD 5px solid;
}

/*
For some reason, the anchor element within a div will not obey the same rule
*/
.sub-title a {
    background-color: #FF8C32;
    color: #DDDDDD;
}

.main-body {
    margin: 1%;
}

.main-body footer{
    background-color: #FF8C32;
    text-align: center;
    margin: 10px;
    padding: 1% 2%;
    border: #DDDDDD 5px solid;
}

.main-body footer small {
    background-color: #FF8C32;
}

p {
    margin: 10px;
    padding: 1% 2%;
}
