/*
For making use of themes
We want to use these colour palettes:
#06113C - Black
#FF8C32 - Orange
#DDDDDD - Grey
#EEEEEE - White
*/

.sub-title {
    background-color: #FF8C32;
    color: #DDDDDD;
    font-weight: bold;
}

* {
    background-color: #06113C;
    font-family: 'Noto Sans', sans-serif;
    color: #EEEEEE;
}